<u><b><font face="Arial"><span style="font-size: 18pt;"></span></font></b></u><span style="font-size: 12pt;"></span>
<table style="text-align: left; width: 100%; background-color: rgb(239, 239, 239);" border="1" cellpadding="2" cellspacing="2">
  <tbody>
    <tr>
      <td style="vertical-align: top;"><font size="+2"><span style="font-weight: bold;"><span style="font-family: Arial;"></span></span></font>
      <table style="text-align: left; width: 100%; height: 42px;" border="0" cellpadding="2" cellspacing="2">
        <tbody>
          <tr>
            <td style="vertical-align: top; text-align: left;"><font size="+3"><span style="font-weight: bold; font-family: Arial;">Slave List</span></font><br>
            </td>
            <td style="vertical-align: top;"><br>
            </td>
          </tr>
        </tbody>
      </table>
      <font size="+2"><span style="font-weight: bold;"></span></font></td>
    </tr>
  </tbody>
</table>&nbsp;<span style="font-size: 12pt;"><font face="Arial"><span style="font-size: 12pt;"><font face="Courier New"><span style="font-size: 10pt;"><font face="Arial"><span style="font-size: 12pt;"><font face="Courier New"><span style="font-size: 10pt;"><font face="Arial"><span style="font-size: 12pt;"><font face="Courier New"><span style="font-size: 10pt;"><font face="Arial"><span style="font-size: 12pt;"><font face="Arial"><font face="Courier New"><span style="font-size: 10pt;"><font face="Arial"><span style="font-size: 12pt;"><font face="Courier New"><span style="font-size: 10pt;"><font face="Courier New CYR"><font face="Arial"><span style="font-size: 12pt;"><font face="Courier New"><span style="font-size: 10pt;"><font face="Arial"><span style="font-size: 12pt;"><font face="Courier New"><span style="font-size: 10pt;"><font face="Arial"><span style="font-size: 12pt;"><font face="Courier New"><span style="font-size: 10pt;"><font face="Arial"><span style="font-size: 12pt;"><font face="Courier New"><span style="font-size: 10pt;"><font face="Arial"><span style="font-size: 12pt;"><b><br><br>
</b></span></font></span></font></span></font></span></font></span></font></span></font></span></font></span></font></span></font></font></span></font></span></font></span></font></font></span></font></span></font></span></font></span></font></span></font></span></font></span></font></span>
<table style="width: 906px; height: 2007px;" class="cms_table_grid" border="1"><tbody><tr class="cms_table_grid_tr" valign="top"><td class="cms_table_grid_td"><font size="3"><b>Slave Name</b></font></td>
<td class="cms_table_grid_td"><b><font size="4">Source</font><br>
</b></td>
<td class="cms_table_grid_td"><b><font size="4">Developer</font><br>
</b></td>
<td class="cms_table_grid_td" align="center"><b><font size="4">Version</font><br>
</b></td>
<td class="cms_table_grid_td" align="center"><font size="4"><b>Slave<br>
No</b></font></td>
</tr>
<tr class="cms_table_grid_tr" valign="top"><td class="cms_table_grid_td"><a href="http://www.futanaripalace.com/showthread.php?43047-Slave-Shampoo-%28Xian-Pu%29" target="_blank"><span style="font-family: Fixedsys;"><font size="3"><b>Shampoo</b></font></span></a></td>
<td class="cms_table_grid_td"><span style="font-family: Fixedsys;"><font size="3">Ranma 1/2</font></span></td>
<td class="cms_table_grid_td"><span style="font-family: Fixedsys;"><font size="3">cmacleod/Pooloka</font></span></td>
<td class="cms_table_grid_td" align="center"><span style="font-family: Fixedsys;"><font size="3">2 </font></span></td>
<td class="cms_table_grid_td" align="center">1</td>
</tr>
<tr class="cms_table_grid_tr" valign="top"><td class="cms_table_grid_td"><a href="http://www.futanaripalace.com/showthread.php?40216-Belldandy-Images" target="_blank"><span style="font-family: Fixedsys;"><font size="3"><b>Belldandy</b></font></span></a></td>
<td class="cms_table_grid_td">Ah My Goddess</td>
<td class="cms_table_grid_td"><span style="font-family: Fixedsys;"><font size="3">cmacleod/Pooloka</font></span></td>
<td class="cms_table_grid_td" align="center">2</td>
<td class="cms_table_grid_td" align="center">2</td>
</tr>
<tr class="cms_table_grid_tr" valign="top"><td class="cms_table_grid_td"><a href="http://www.futanaripalace.com/showthread.php?42765-Slave-Ranma" target="_blank"><span style="font-family: Fixedsys;"><font size="3"><b>Ranma</b></font></span></a></td>
<td class="cms_table_grid_td"><span style="font-family: Fixedsys;"><font size="3">Ranma 1/2</font></span></td>
<td class="cms_table_grid_td"><span style="font-family: Fixedsys;"><font size="3">cmacleod/Pooloka</font></span></td>
<td class="cms_table_grid_td" align="center">2.1</td>
<td class="cms_table_grid_td" align="center">3</td>
</tr>
<tr class="cms_table_grid_tr" valign="top"><td class="cms_table_grid_td"><span style="font-family: Fixedsys;"><font size="3"><b>Akane</b></font></span></td>
<td class="cms_table_grid_td"><span style="font-family: Fixedsys;"><font size="3">Ranma 1/2</font></span></td>
<td class="cms_table_grid_td"><span style="font-family: Fixedsys;"><font size="3">cmacleod/Pooloka</font></span></td>
<td class="cms_table_grid_td" align="center">2</td>
<td class="cms_table_grid_td" align="center">4</td>
</tr>
<tr class="cms_table_grid_tr" valign="top"><td class="cms_table_grid_td"><span style="font-family: Fixedsys;"><font size="3"><b>Yurika</b></font></span></td>
<td class="cms_table_grid_td"><span style="font-family: Fixedsys;"><font size="3">Nadesico</font></span></td>
<td class="cms_table_grid_td"><span style="font-family: Fixedsys;"><font size="3">cmacleod/Pooloka</font></span></td>
<td class="cms_table_grid_td" align="center">2</td>
<td class="cms_table_grid_td" align="center">5</td>
</tr>
<tr class="cms_table_grid_tr" valign="top"><td class="cms_table_grid_td"><a href="http://www.futanaripalace.com/showthread.php?40269-Tifa-Lockheart-Images" target="_blank"><span style="font-family: Fixedsys;"><font size="3"><b>Tifa</b></font></span></a></td>
<td class="cms_table_grid_td"><span style="font-family: Fixedsys;"><font size="3">Final Fantasy 7</font></span></td>
<td class="cms_table_grid_td">cmacleod</td>
<td class="cms_table_grid_td" align="center">2</td>
<td class="cms_table_grid_td" align="center">6</td>
</tr>
<tr class="cms_table_grid_tr" valign="top"><td class="cms_table_grid_td"><span style="font-family: Fixedsys;"><font size="3"><b>Naru</b></font></span></td>
<td class="cms_table_grid_td"><span style="font-family: Fixedsys;"><font size="3">Love Hina</font></span></td>
<td class="cms_table_grid_td"><span style="font-family: Fixedsys;"><font size="3">cmacleod/Pooloka</font></span></td>
<td class="cms_table_grid_td" align="center">2</td>
<td class="cms_table_grid_td" align="center">7</td>
</tr>
<tr class="cms_table_grid_tr" valign="top"><td class="cms_table_grid_td"><b>Urd</b></td>
<td class="cms_table_grid_td">Ah My Goddess</td>
<td class="cms_table_grid_td">cmacleod</td>
<td class="cms_table_grid_td" align="center">2</td>
<td class="cms_table_grid_td" align="center">8</td>
</tr>
<tr class="cms_table_grid_tr" valign="top"><td class="cms_table_grid_td"><b><a href="http://www.futanaripalace.com/showthread.php?43395-Slave-Kasumi" target="_blank">Kasumi</a><br>
</b></td>
<td class="cms_table_grid_td">DOA</td>
<td class="cms_table_grid_td">cmacleod</td>
<td class="cms_table_grid_td" align="center">2</td>
<td class="cms_table_grid_td" align="center">9</td>
</tr>
<tr class="cms_table_grid_tr" valign="top"><td class="cms_table_grid_td"><b><a href="http://www.futanaripalace.com/showthread.php?45970-Ayane-Slave" target="_blank">Ayane</a><br>
</b></td>
<td class="cms_table_grid_td">DOA</td>
<td class="cms_table_grid_td">cmacleod</td>
<td class="cms_table_grid_td" align="center">2</td>
<td class="cms_table_grid_td" align="center">10</td>
</tr>
<tr class="cms_table_grid_tr" valign="top"><td class="cms_table_grid_td"><b><a href="http://www.futanaripalace.com/showthread.php?46101-Riesz" target="_blank">Reisz</a><br>
</b></td>
<td class="cms_table_grid_td">Legend of Mana</td>
<td class="cms_table_grid_td">cmacleod</td>
<td class="cms_table_grid_td" align="center">2</td>
<td class="cms_table_grid_td" align="center">11</td>
</tr>
<tr class="cms_table_grid_tr" valign="top"><td class="cms_table_grid_td"><b>Minako<br>
</b></td>
<td class="cms_table_grid_td">Sailor Moon</td>
<td class="cms_table_grid_td">cmacleod</td>
<td class="cms_table_grid_td" align="center">2</td>
<td class="cms_table_grid_td" align="center">12</td>
</tr>
<tr class="cms_table_grid_tr" valign="top"><td class="cms_table_grid_td"><b>Rei<br>
</b></td>
<td class="cms_table_grid_td">Sailor Moon</td>
<td class="cms_table_grid_td">cmacleod</td>
<td class="cms_table_grid_td" align="center">2</td>
<td class="cms_table_grid_td" align="center">13</td>
</tr>
<tr class="cms_table_grid_tr" valign="top"><td class="cms_table_grid_td"><b><a href="http://www.futanaripalace.com/showthread.php?42997-Slave-Inoue-Orihime" target="_blank">Orihime</a><br>
</b></td>
<td class="cms_table_grid_td">Bleach</td>
<td class="cms_table_grid_td">Daisy_strike</td>
<td class="cms_table_grid_td" align="center">2</td>
<td class="cms_table_grid_td" align="center">14</td>
</tr>
<tr class="cms_table_grid_tr" valign="top"><td class="cms_table_grid_td"><span style="font-family: Fixedsys;"><font size="3"><b><a href="http://www.futanaripalace.com/showthread.php?28413-REL-Menace" target="_blank">Menace</a></b></font></span></td>
<td class="cms_table_grid_td"><span style="font-family: Fixedsys;"><font size="3">Queen's Blade</font></span></td>
<td class="cms_table_grid_td">Daisy_strike</td>
<td class="cms_table_grid_td" align="center">2</td>
<td class="cms_table_grid_td" align="center">15</td>
</tr>
<tr class="cms_table_grid_tr" valign="top"><td class="cms_table_grid_td"><span style="font-family: Fixedsys;"><font size="3"><b><a href="http://www.futanaripalace.com/showthread.php?32890-Slave-Peach&amp;p=586501&amp;viewfull=1#post586501" target="_blank">Princess Peach</a></b></font></span></td>
<td class="cms_table_grid_td">Mario Bros</td>
<td class="cms_table_grid_td"><span style="font-family: Fixedsys;"><font size="3">MailMailx3</font></span></td>
<td class="cms_table_grid_td" align="center">2</td>
<td class="cms_table_grid_td" align="center">16</td>
</tr>
<tr class="cms_table_grid_tr" valign="top"><td class="cms_table_grid_td"><span style="font-family: Fixedsys;"><font size="3"><b><a href="http://www.futanaripalace.com/showthread.php?33232-Aeris-Slave-Thread&amp;p=593624&amp;viewfull=1#post593624" target="_blank">Aeris</a></b></font></span></td>
<td class="cms_table_grid_td"><span style="font-family: Fixedsys;"><font size="3">Final Fantasy 7</font></span></td>
<td class="cms_table_grid_td"><span style="font-family: Fixedsys;"><font size="3">Fenoxo, extended by mouseGURU</font></span></td>
<td class="cms_table_grid_td" align="center">2</td>
<td class="cms_table_grid_td" align="center">17</td>
</tr>
<tr class="cms_table_grid_tr" valign="top"><td class="cms_table_grid_td"><span style="font-family: Fixedsys;"><font size="3"><b><a href="http://www.futanaripalace.com/showthread.php?34332-Yoruichi-Shihouin&amp;p=612966&amp;viewfull=1#post612966" target="_blank">Yorichi Shihouin</a></b></font></span></td>
<td class="cms_table_grid_td">Bleach</td>
<td class="cms_table_grid_td">Jaren</td>
<td class="cms_table_grid_td" align="center">1.4</td>
<td class="cms_table_grid_td" align="center">18</td>
</tr>
<tr class="cms_table_grid_tr" valign="top"><td class="cms_table_grid_td"><span style="font-family: Fixedsys;"><font size="3"><b><a href="http://www.futanaripalace.com/showthread.php?36697-Sawachika-Eri-from-School-Rumble&amp;p=659279&amp;viewfull=1#post659279" target="_blank">Sawachika Eri</a></b></font></span></td>
<td class="cms_table_grid_td"><span style="font-family: Fixedsys;"><font size="3">School Rumble</font></span></td>
<td class="cms_table_grid_td">otacu</td>
<td class="cms_table_grid_td" align="center">1</td>
<td class="cms_table_grid_td" align="center">19</td>
</tr>
<tr class="cms_table_grid_tr" valign="top"><td class="cms_table_grid_td"><span style="font-family: Fixedsys;"><font size="3"><b><a href="http://www.futanaripalace.com/showthread.php?28143-Bulma-Development-Thread&amp;p=501507&amp;viewfull=1#post501507" target="_blank">Bulma</a></b></font></span></td>
<td class="cms_table_grid_td"><span style="font-family: Fixedsys;"><font size="3">Dragonball</font></span></td>
<td class="cms_table_grid_td"><span style="font-family: Fixedsys;"><font size="3">Rowadon/abisal</font></span></td>
<td class="cms_table_grid_td" align="center">1</td>
<td class="cms_table_grid_td" align="center">20</td>
</tr>
<tr class="cms_table_grid_tr" valign="top"><td class="cms_table_grid_td"><span style="font-family: Fixedsys;"><font size="3"><b><a href="http://www.futanaripalace.com/showthread.php?28133-Ino-Yamanaka-Slave&amp;p=501308&amp;viewfull=1#post501308" target="_blank">Ino Yamanaka</a></b></font></span></td>
<td class="cms_table_grid_td">Naruto</td>
<td class="cms_table_grid_td">Darsel</td>
<td class="cms_table_grid_td" align="center">1.1</td>
<td class="cms_table_grid_td" align="center">21</td>
</tr>
<tr class="cms_table_grid_tr" valign="top"><td class="cms_table_grid_td"><span style="font-family: Fixedsys;"><font size="3"><b><a href="http://www.futanaripalace.com/showthread.php?37904-Sakura-Haruno&amp;p=687948&amp;viewfull=1#post687948" target="_blank">Sakura Haruno</a></b></font></span></td>
<td class="cms_table_grid_td">Naruto</td>
<td class="cms_table_grid_td">NarutoXD</td>
<td class="cms_table_grid_td" align="center">1.1</td>
<td class="cms_table_grid_td" align="center">22</td>
</tr>
<tr class="cms_table_grid_tr" valign="top"><td class="cms_table_grid_td"><span style="font-family: Fixedsys;"><font size="3"><b><a href="http://www.futanaripalace.com/showthread.php?39745-Musashi-Slave-%28Jessie%29-from-Pokemon&amp;p=733932&amp;viewfull=1#post733932" target="_blank">Jessie</a>/Musashi</b></font></span></td>
<td class="cms_table_grid_td">Pokemon</td>
<td class="cms_table_grid_td">abisal</td>
<td class="cms_table_grid_td" align="center">1</td>
<td class="cms_table_grid_td" align="center">23</td>
</tr>
<tr class="cms_table_grid_tr" valign="top"><td class="cms_table_grid_td"><span style="font-family: Fixedsys;"><font size="3"><b><a href="http://www.futanaripalace.com/showthread.php?31661-kallen-Slave&amp;p=564489&amp;viewfull=1#post564489" target="_blank">Kallen</a></b></font></span></td>
<td class="cms_table_grid_td"><span style="font-family: Fixedsys;"><font size="3">Code Geass</font></span></td>
<td class="cms_table_grid_td">vechno</td>
<td class="cms_table_grid_td" align="center">1</td>
<td class="cms_table_grid_td" align="center">24</td>
</tr>
<tr class="cms_table_grid_tr" valign="top"><td class="cms_table_grid_td"><span style="font-family: Fixedsys;"><font size="3"><b><a href="http://www.futanaripalace.com/showthread.php?39885-Heather-%28Silent-Hill-3%29-BETA-release&amp;p=736553&amp;viewfull=1#post736553" target="_blank">Heather</a></b></font></span></td>
<td class="cms_table_grid_td"><span style="font-family: Fixedsys;"><font size="3">Silent Hill 3</font></span></td>
<td class="cms_table_grid_td"><span style="font-family: Fixedsys;"><font size="3">TheNightWalker</font></span></td>
<td class="cms_table_grid_td" align="center">2</td>
<td class="cms_table_grid_td" align="center">24</td>
</tr>
<tr class="cms_table_grid_tr" valign="top"><td class="cms_table_grid_td"><span style="font-family: Fixedsys;"><font size="3"><b><a href="http://www.futanaripalace.com/showthread.php?40178-Kirino-Kousaka" target="_blank">Kirino Kousaka</a></b></font></span></td>
<td class="cms_table_grid_td"><span style="font-family: Fixedsys;"><font size="3">Oreimo</font></span></td>
<td class="cms_table_grid_td"><span style="font-family: Fixedsys;"><font size="3">NarutoXD</font></span></td>
<td class="cms_table_grid_td" align="center">1</td>
<td class="cms_table_grid_td" align="center">26</td>
</tr>
<tr class="cms_table_grid_tr" valign="top"><td class="cms_table_grid_td"><b><span style="font-family: Fixedsys;"><font size="3">Rei Ayanami</font></span><br>
</b></td>
<td class="cms_table_grid_td">Evangelion</td>
<td class="cms_table_grid_td">cmacleod</td>
<td class="cms_table_grid_td" align="center">1</td>
<td class="cms_table_grid_td" align="center">27</td>
</tr>
<tr class="cms_table_grid_tr" valign="top"><td class="cms_table_grid_td"><b>reserved for Krystal<br>
</b></td>
<td class="cms_table_grid_td"><br></td>
<td class="cms_table_grid_td"><br></td>
<td class="cms_table_grid_td" align="center"><br></td>
<td class="cms_table_grid_td" align="center">28</td>
</tr>
<tr class="cms_table_grid_tr" valign="top"><td class="cms_table_grid_td"><b>Mihoshi<br>
</b></td>
<td class="cms_table_grid_td">Tenchi Muyo</td>
<td class="cms_table_grid_td">cmacleod</td>
<td class="cms_table_grid_td" align="center">1</td>
<td class="cms_table_grid_td" align="center">29</td>
</tr>
<tr class="cms_table_grid_tr" valign="top"><td class="cms_table_grid_td"><span style="font-family: Fixedsys;"><font size="3"><b>Mai Shiranui</b></font></span></td>
<td class="cms_table_grid_td"><span style="font-family: Fixedsys;"><font size="3">Fatal Fury 2</font></span></td>
<td class="cms_table_grid_td">cmacleod</td>
<td class="cms_table_grid_td" align="center">1</td>
<td class="cms_table_grid_td" align="center">30</td>
</tr>
<tr class="cms_table_grid_tr" valign="top"><td class="cms_table_grid_td"><span style="font-family: Fixedsys;"><font size="3"><b><a href="http://www.futanaripalace.com/showthread.php?41397-Chun-Li" target="_blank">Chun Li</a></b></font></span></td>
<td class="cms_table_grid_td"><span style="font-family: Fixedsys;"><font size="3">Fatal Fury 2</font></span></td>
<td class="cms_table_grid_td"><span style="font-family: Fixedsys;"><font size="3">venom2056, extended by </font></span>cmacleod</td>
<td class="cms_table_grid_td" align="center">1</td>
<td class="cms_table_grid_td" align="center">31</td>
</tr>
<tr class="cms_table_grid_tr" valign="top"><td class="cms_table_grid_td"><span style="font-family: Fixedsys;"><font size="3"><b><a href="http://www.futanaripalace.com/showthread.php?40604-Princess-Daisy-Beta" target="_blank">Princess Daisy</a></b></font></span></td>
<td class="cms_table_grid_td"><span style="font-family: Fixedsys;"><font size="3">Mario Bros</font></span></td>
<td class="cms_table_grid_td"><span style="font-family: Fixedsys;"><font size="3">gadansk</font></span></td>
<td class="cms_table_grid_td" align="center">1</td>
<td class="cms_table_grid_td" align="center">32</td>
</tr>
<tr class="cms_table_grid_tr" valign="top"><td class="cms_table_grid_td"><span style="font-family: Fixedsys;"><font size="3"><b><a href="http://www.futanaripalace.com/showthread.php?40237-Felicia-Slave" target="_blank">Felicia</a></b></font></span></td>
<td class="cms_table_grid_td"><span style="font-family: Fixedsys;"><font size="3">Dark Stalkers</font></span></td>
<td class="cms_table_grid_td"><span style="font-family: Fixedsys;"><font size="3">MailMailX3</font></span></td>
<td class="cms_table_grid_td" align="center">1</td>
<td class="cms_table_grid_td" align="center">33</td>
</tr>
<tr class="cms_table_grid_tr" valign="top"><td class="cms_table_grid_td"><span style="font-family: Fixedsys;"><font size="3"><b><a href="http://www.futanaripalace.com/showthread.php?38087-Sheena-Fujibayashi-Slave" target="_blank">Sheena Fujibayashi</a></b></font></span></td>
<td class="cms_table_grid_td"><span style="font-family: Fixedsys;"><font size="3">T</font></span><span style="font-family: Fixedsys;"><font size="3">ales of Symphonia</font></span></td>
<td class="cms_table_grid_td"><span style="font-family: Fixedsys;"><font size="3">EScion/Lyanel Feles</font></span></td>
<td class="cms_table_grid_td" align="center">1</td>
<td class="cms_table_grid_td" align="center">34</td>
</tr>
<tr class="cms_table_grid_tr" valign="top"><td class="cms_table_grid_td"><span style="font-family: Fixedsys;"><font size="3"><b><a href="http://www.futanaripalace.com/showthread.php?28484-Reimu-Slave&amp;p=506699&amp;viewfull=1#post506699" target="_blank">Reimu</a></b></font></span></td>
<td class="cms_table_grid_td">Touhou</td>
<td class="cms_table_grid_td">Someone1001</td>
<td class="cms_table_grid_td" align="center">1</td>
<td class="cms_table_grid_td" align="center">35</td>
</tr>
<tr class="cms_table_grid_tr" valign="top"><td class="cms_table_grid_td"><span style="font-family: Fixedsys;"><font size="3"><b><a href="http://www.futanaripalace.com/showthread.php?40593-Nina-Windia-Slave" target="_blank">Nina Windia</a></b></font></span></td>
<td class="cms_table_grid_td"><span style="font-family: Fixedsys;"><font size="3">Breath of Fire</font></span></td>
<td class="cms_table_grid_td"><span style="font-family: Fixedsys;"><font size="3">Kaiser Ryu</font></span></td>
<td class="cms_table_grid_td" align="center">1.1</td>
<td class="cms_table_grid_td" align="center">36</td>
</tr>
<tr class="cms_table_grid_tr" valign="top"><td class="cms_table_grid_td"><span style="font-family: Fixedsys;"><font size="3"><b><a href="http://www.futanaripalace.com/showthread.php?36923-New-slave-Gardevoir&amp;p=663251&amp;viewfull=1#post663251" target="_blank">Gardevoir</a></b></font></span></td>
<td class="cms_table_grid_td"><span style="font-family: Fixedsys;"><font size="3">Pokemon</font></span></td>
<td class="cms_table_grid_td"><span style="font-family: Fixedsys;"><font size="3">Thf772</font></span></td>
<td class="cms_table_grid_td" align="center">1</td>
<td class="cms_table_grid_td" align="center">37</td>
</tr>
<tr class="cms_table_grid_tr" valign="top"><td class="cms_table_grid_td"><span style="font-family: Fixedsys;"><font size="3"><b><a href="http://www.futanaripalace.com/showthread.php?41097-Rogue-from-X-Men-Evolution-Slave" target="_blank">Rogue</a></b></font></span></td>
<td class="cms_table_grid_td"><span style="font-family: Fixedsys;"><font size="3">X-Men Evolution</font></span></td>
<td class="cms_table_grid_td"><span style="font-family: Fixedsys;"><font size="3">KintChick &amp; abisal</font></span></td>
<td class="cms_table_grid_td" align="center">1</td>
<td class="cms_table_grid_td" align="center">38</td>
</tr>
<tr class="cms_table_grid_tr" valign="top"><td class="cms_table_grid_td"><span style="font-family: Fixedsys;"><font size="3"><b><a href="http://www.futanaripalace.com/showthread.php?41863-Hatsune-Miku-Slave-%28By-Malarkey%29" target="_blank">Hatsune Miku</a></b></font></span></td>
<td class="cms_table_grid_td"><span style="font-family: Fixedsys;"><font size="3">Vocaloid</font></span></td>
<td class="cms_table_grid_td"><span style="font-family: Fixedsys;"><font size="3">Kiyoka</font></span></td>
<td class="cms_table_grid_td" align="center">0.1</td>
<td class="cms_table_grid_td" align="center">39</td>
</tr>
<tr class="cms_table_grid_tr" valign="top"><td class="cms_table_grid_td"><span style="font-family: Fixedsys;"><font size="3"><b><a href="http://www.futanaripalace.com/showthread.php?42204-XML-Slave-Sakuya-%28Maid-from-Touhou%29" target="_blank">Sakuya</a></b></font></span></td>
<td class="cms_table_grid_td"><span style="font-family: Fixedsys;"><font size="3">Touhou</font></span></td>
<td class="cms_table_grid_td"><span style="font-family: Fixedsys;"><font size="3"> CM Tyssen</font></span></td>
<td class="cms_table_grid_td" align="center">0.2</td>
<td class="cms_table_grid_td" align="center">40</td>
</tr>
<tr class="cms_table_grid_tr" valign="top"><td class="cms_table_grid_td"><span style="font-family: Fixedsys;"><font size="3"><b><a href="http://www.futanaripalace.com/showthread.php?42103-making-Ran" target="_blank">Ran</a></b></font></span></td>
<td class="cms_table_grid_td"><span style="font-family: Fixedsys;"><font size="3">Detective Conan</font></span></td>
<td class="cms_table_grid_td"><span style="font-family: Fixedsys;"><font size="3">vash99</font></span></td>
<td class="cms_table_grid_td" align="center">1</td>
<td class="cms_table_grid_td" align="center">41</td>
</tr>
<tr class="cms_table_grid_tr" valign="top"><td class="cms_table_grid_td"><span style="font-family: Fixedsys;"><font size="3"><b><a href="http://www.futanaripalace.com/showthread.php?42454-Misako-slave" target="_blank">Misako</a></b></font></span></td>
<td class="cms_table_grid_td">Gibo</td>
<td class="cms_table_grid_td">demercel</td>
<td class="cms_table_grid_td" align="center">1</td>
<td class="cms_table_grid_td" align="center">42</td>
</tr>
<tr class="cms_table_grid_tr" valign="top"><td class="cms_table_grid_td"><span style="font-family: Fixedsys;"><font size="3"><b><a href="http://www.futanaripalace.com/showthread.php?41795-Slave-Motoko-Aoyama" target="_blank">Motoko Aoyama</a></b></font></span></td>
<td class="cms_table_grid_td">Love Hina</td>
<td class="cms_table_grid_td">Jaren</td>
<td class="cms_table_grid_td" align="center">0.1</td>
<td class="cms_table_grid_td" align="center">43</td>
</tr>
<tr class="cms_table_grid_tr" valign="top"><td class="cms_table_grid_td"><span style="font-family: Fixedsys;"><font size="3"><b><a href="http://www.futanaripalace.com/showthread.php?42139-True-Catgirl-Slave" target="_blank">Melisandra</a></b></font></span></td>
<td class="cms_table_grid_td">original</td>
<td class="cms_table_grid_td">SamK</td>
<td class="cms_table_grid_td" align="center">1</td>
<td class="cms_table_grid_td" align="center">44</td>
</tr>
<tr class="cms_table_grid_tr" valign="top"><td class="cms_table_grid_td"><span style="font-family: Fixedsys;"><font size="3"><b><a href="http://www.futanaripalace.com/showthread.php?42941-Slave-Sophitia-Alexandra-%28Soul-Calibur%29" target="_blank">Sophita Alexandra</a></b></font></span></td>
<td class="cms_table_grid_td"><span style="font-family: Fixedsys;"><font size="3">Soul Calibur</font></span></td>
<td class="cms_table_grid_td"><span style="font-family: Fixedsys;"><font size="3">Chris132</font></span></td>
<td class="cms_table_grid_td" align="center">0.2</td>
<td class="cms_table_grid_td" align="center">45</td>
</tr>
<tr class="cms_table_grid_tr" valign="top"><td class="cms_table_grid_td"><span style="font-family: Fixedsys;"><font size="3"><b><a href="http://www.futanaripalace.com/showthread.php?43015-Unohana-Retsu-from-Bleach" target="_blank">Uohana Retsu</a></b></font></span></td>
<td class="cms_table_grid_td"><span style="font-family: Fixedsys;"><font size="3">Bleach</font></span></td>
<td class="cms_table_grid_td">QMag</td>
<td class="cms_table_grid_td" align="center">0.36a</td>
<td class="cms_table_grid_td" align="center">46</td>
</tr>
<tr class="cms_table_grid_tr" valign="top"><td class="cms_table_grid_td"><span style="font-family: Fixedsys;"><font size="3"><a href="http://www.futanaripalace.com/showthread.php?43055-Slave-Matsumoto-Rangiku" target="_blank"><b>Matsumoto Rangiku</b></a></font></span></td>
<td class="cms_table_grid_td">Bleach</td>
<td class="cms_table_grid_td">Onfire</td>
<td class="cms_table_grid_td" align="center">0.1</td>
<td class="cms_table_grid_td" align="center">47</td>
</tr>
<tr class="cms_table_grid_tr" valign="top"><td class="cms_table_grid_td"><span style="font-family: Fixedsys;"><font size="3"><b><a href="http://www.futanaripalace.com/showthread.php?43190-Slave-Asuka-Langley" target="_blank">Asuka</a></b></font></span></td>
<td class="cms_table_grid_td">Evangelion</td>
<td class="cms_table_grid_td"><span style="font-family: Fixedsys;"><font size="3">Shikinamifan91</font></span></td>
<td class="cms_table_grid_td" align="center">0.1</td>
<td class="cms_table_grid_td" align="center">48</td>
</tr>
<tr class="cms_table_grid_tr" valign="top"><td class="cms_table_grid_td"><span style="font-family: Fixedsys;"><font size="3"><b><a href="http://www.futanaripalace.com/showthread.php?43620-New-slave-Hinata-Beta" target="_blank">Hinata</a></b></font></span></td>
<td class="cms_table_grid_td">Naruto</td>
<td class="cms_table_grid_td">raiga</td>
<td class="cms_table_grid_td" align="center">0.1</td>
<td class="cms_table_grid_td" align="center">49</td>
</tr>
<tr class="cms_table_grid_tr" valign="top"><td class="cms_table_grid_td"><span style="font-family: Fixedsys;"><font size="3"><b><a href="http://www.futanaripalace.com/showthread.php?43802-Samus-Aran-Slave-%28Mad_Jackal-version%29" target="_blank">Samus Aran</a></b></font></span></td>
<td class="cms_table_grid_td">Metroid</td>
<td class="cms_table_grid_td"><span style="font-family: Fixedsys;"><font size="3">Mad_Jackal</font></span></td>
<td class="cms_table_grid_td" align="center">0.1</td>
<td class="cms_table_grid_td" align="center">50</td>
</tr>
<tr class="cms_table_grid_tr" valign="top"><td class="cms_table_grid_td"><span style="font-family: Fixedsys;"><font size="3"><b><a href="http://www.futanaripalace.com/showthread.php?43922-Panty-and-Stocking-1.0" target="_blank">Panty &amp; Stocking</a></b></font></span></td>
<td class="cms_table_grid_td">PSG</td>
<td class="cms_table_grid_td"><span style="font-family: Fixedsys;"><font size="3">enkephalin07</font></span></td>
<td class="cms_table_grid_td" align="center">1.0</td>
<td class="cms_table_grid_td" align="center">51</td>
</tr>
<tr class="cms_table_grid_tr" valign="top"><td class="cms_table_grid_td"><a href="http://www.futanaripalace.com/showthread.php?44191-Slave-Lamia" target="_blank"><b>Lamia</b></a></td>
<td class="cms_table_grid_td">original</td>
<td class="cms_table_grid_td">Lamia</td>
<td class="cms_table_grid_td" align="center">1.0</td>
<td class="cms_table_grid_td" align="center">52</td>
</tr>
<tr class="cms_table_grid_tr" valign="top"><td class="cms_table_grid_td"><span style="font-family: Fixedsys;"><font size="3"><b><a href="http://www.futanaripalace.com/showthread.php?44326-Ryo-Akizuki-Male-Slave-%28Not-manly-at-all-though%29" target="_blank">Ryo Akizuki</a></b></font></span></td>
<td class="cms_table_grid_td"><span style="font-family: Fixedsys;"><font size="3">Idolm@ster</font></span></td>
<td class="cms_table_grid_td">abisal</td>
<td class="cms_table_grid_td" align="center">0.3</td>
<td class="cms_table_grid_td" align="center">53</td>
</tr>
<tr class="cms_table_grid_tr" valign="top"><td class="cms_table_grid_td"><span style="font-family: Fixedsys;"><font size="3"><b><a href="http://www.futanaripalace.com/showthread.php?45067-Dark-Magician-Girl-Slave" target="_blank">Dark Magician Girl</a></b></font></span></td>
<td class="cms_table_grid_td"><span style="font-family: Fixedsys;"><font size="3">Yugi-Oh</font></span></td>
<td class="cms_table_grid_td"><span style="font-family: Fixedsys;"><font size="3">Regigigas </font></span></td>
<td class="cms_table_grid_td" align="center">1.0</td>
<td class="cms_table_grid_td" align="center">54</td>
</tr>
<tr class="cms_table_grid_tr" valign="top"><td class="cms_table_grid_td"><span style="font-family: Fixedsys;"><font size="3"><a href="http://www.futanaripalace.com/showthread.php?45068-Slave-Ami-Sailor-Mercury" target="_blank"><b>Ami</b></a>(Sailor Mercury)</font></span></td>
<td class="cms_table_grid_td"><span style="font-family: Fixedsys;"><font size="3">Sailor Moon</font></span></td>
<td class="cms_table_grid_td"><span style="font-family: Fixedsys;"><font size="3">Regigigas</font></span></td>
<td class="cms_table_grid_td" align="center">1</td>
<td class="cms_table_grid_td" align="center">55</td>
</tr>
<tr class="cms_table_grid_tr" valign="top"><td class="cms_table_grid_td"><span style="font-family: Fixedsys;"><font size="3"><a href="http://www.futanaripalace.com/showthread.php?44765-Tohsaka-Rin-Slave-%28Alpha1%29" target="_blank"><b>Tousaka Rin</b></a></font></span></td>
<td class="cms_table_grid_td"><span style="font-family: Fixedsys;"><font size="3">Fate Stay Night</font></span></td>
<td class="cms_table_grid_td"><span style="font-family: Fixedsys;"><font size="3">Maalunar</font></span></td>
<td class="cms_table_grid_td" align="center">0.1</td>
<td class="cms_table_grid_td" align="center">56</td>
</tr>
<tr class="cms_table_grid_tr" valign="top"><td class="cms_table_grid_td"><b><span style="font-family: Fixedsys;"><font size="3"><a href="http://www.futanaripalace.com/showthread.php?42900-NEW-Slave-Elesa.-Plus-a-few-assistants." target="_blank">Elesa</a></font></span></b></td>
<td class="cms_table_grid_td"><span style="font-family: Fixedsys;"><font size="3">Pokemon<br>
</font></span></td>
<td class="cms_table_grid_td"><span style="font-family: Fixedsys;"><font size="3">Regigigas<br>
</font></span></td>
<td class="cms_table_grid_td" align="center">1.0</td>
<td class="cms_table_grid_td" align="center">57</td>
</tr>
<tr class="cms_table_grid_tr" valign="top"><td class="cms_table_grid_td"><b><span style="font-family: Fixedsys;"><font size="3"><a href="http://www.futanaripalace.com/showthread.php?45095-Slave-Zelda" target="_blank">Zelda</a></font></span></b></td>
<td class="cms_table_grid_td"><span style="font-family: Fixedsys;"><font size="3">Legend of Zelda</font></span></td>
<td class="cms_table_grid_td"><span style="font-family: Fixedsys;"><font size="3">Bladestriker<br>
</font></span></td>
<td class="cms_table_grid_td" align="center">1.0</td>
<td class="cms_table_grid_td" align="center">58</td>
</tr>
<tr class="cms_table_grid_tr" valign="top"><td class="cms_table_grid_td"><a href="http://www.futanaripalace.com/showthread.php?45416-Snow-White" target="_blank"><b><span style="font-family: Fixedsys;"><font size="3">Snow White</font></span></b></a></td>
<td class="cms_table_grid_td"><span style="font-family: Fixedsys;"><font size="3">Snow White</font></span></td>
<td class="cms_table_grid_td">Regigigas</td>
<td class="cms_table_grid_td" align="center">1.0</td>
<td class="cms_table_grid_td" align="center">59</td>
</tr>
<tr class="cms_table_grid_tr" valign="top"><td class="cms_table_grid_td"><b><a href="http://www.futanaripalace.com/showthread.php?44977-Slave-Skyla" target="_blank"><span style="font-family: Fixedsys;"><font size="3">Skyla</font></span></a></b></td>
<td class="cms_table_grid_td"><span style="font-family: Fixedsys;"><font size="3"> Pokemon</font></span></td>
<td class="cms_table_grid_td">Regigigas</td>
<td class="cms_table_grid_td" align="center">1.0</td>
<td class="cms_table_grid_td" align="center">60</td>
</tr>
<tr class="cms_table_grid_tr" valign="top"><td class="cms_table_grid_td"><a href="http://www.futanaripalace.com/showthread.php?34322-Morrigan-Aensland-Slave" target="_blank"><b><span style="font-family: Fixedsys;"><font size="3">Morrigan</font></span></b></a></td>
<td class="cms_table_grid_td"><span style="font-family: Fixedsys;"><font size="3">Darkstalkers</font></span></td>
<td class="cms_table_grid_td"><span style="font-family: Fixedsys;"><font size="3">Lothlorien              <br>
</font></span></td>
<td class="cms_table_grid_td" align="center">1.0</td>
<td class="cms_table_grid_td" align="center">61</td>
</tr>
<tr class="cms_table_grid_tr" valign="top"><td class="cms_table_grid_td"><a href="http://www.futanaripalace.com/showthread.php?45741-Slave-Haruka-%28Pokemon%29" target="_blank"><b><span style="font-family: Fixedsys;"><font size="3">Haruka</font></span></b></a></td>
<td class="cms_table_grid_td"><span style="font-family: Fixedsys;"><font size="3">Pokemon<br>
</font></span></td>
<td class="cms_table_grid_td"><span style="font-family: Fixedsys;"><font size="3">NarutoXD              <br>
</font></span></td>
<td class="cms_table_grid_td" align="center">1.0</td>
<td class="cms_table_grid_td" align="center">62</td>
</tr>
<tr class="cms_table_grid_tr" valign="top"><td class="cms_table_grid_td"><a href="http://www.futanaripalace.com/showthread.php?36404-Misty-from-Pokemon" target="_blank"><b><span style="font-family: Fixedsys;"><font size="3">Misty/Kasumi</font></span></b></a></td>
<td class="cms_table_grid_td"><span style="font-family: Fixedsys;"><font size="3">Pokemon</font></span></td>
<td class="cms_table_grid_td"><span style="font-family: Fixedsys;"><font size="3">NarutoXD              <br>
</font></span></td>
<td class="cms_table_grid_td" align="center">1.0</td>
<td class="cms_table_grid_td" align="center">63</td>
</tr>
<tr class="cms_table_grid_tr" valign="top"><td class="cms_table_grid_td"><a href="http://www.futanaripalace.com/showthread.php?43008-Slave-Rikku-%28FFX-X-2%29" target="_blank"><b><span style="font-family: Fixedsys;"><font size="3">Rikku</font></span></b></a></td>
<td class="cms_table_grid_td"><span style="font-family: Fixedsys;"><font size="3">Final Fantasy</font></span></td>
<td class="cms_table_grid_td"><span style="font-family: Fixedsys;"><font size="3">XaineC                  <br>
</font></span></td>
<td class="cms_table_grid_td" align="center">1.0</td>
<td class="cms_table_grid_td" align="center">64</td>
</tr>
<tr class="cms_table_grid_tr" valign="top"><td class="cms_table_grid_td"><b>Taiga</b></td>
<td class="cms_table_grid_td">Toradora</td>
<td class="cms_table_grid_td">Flash Novice</td>
<td class="cms_table_grid_td" align="center">beta</td>
<td class="cms_table_grid_td" align="center">65</td>
</tr>
<tr class="cms_table_grid_tr" valign="top"><td class="cms_table_grid_td"><b>Ariel</b></td>
<td class="cms_table_grid_td"> The Little Mermaid</td>
<td class="cms_table_grid_td">campeonkid</td>
<td class="cms_table_grid_td" align="center">1.0</td>
<td class="cms_table_grid_td" align="center">66</td>
</tr>
<tr class="cms_table_grid_tr" valign="top"><td class="cms_table_grid_td"><b>Katara</b></td>
<td class="cms_table_grid_td">Airbender</td>
<td class="cms_table_grid_td">foxie</td>
<td class="cms_table_grid_td" align="center">0.1a</td>
<td class="cms_table_grid_td" align="center">67</td>
</tr>
<tr class="cms_table_grid_tr" valign="top"><td class="cms_table_grid_td"><a href="http://www.futanaripalace.com/showthread.php?45069-Slave-Videl" target="_blank"><b>Videl</b></a></td>
<td class="cms_table_grid_td">DragonBall</td>
<td class="cms_table_grid_td">Refigigas</td>
<td class="cms_table_grid_td" align="center">1.0</td>
<td class="cms_table_grid_td" align="center">68</td>
</tr>
<tr class="cms_table_grid_tr" valign="top"><td class="cms_table_grid_td"><a href="http://www.futanaripalace.com/showthread.php?45803-Saeko-Busujima" target="_blank"><b>Saeko Bujishima</b></a></td>
<td class="cms_table_grid_td">High School of the Dead</td>
<td class="cms_table_grid_td">pooterdude + Blaze8492</td>
<td class="cms_table_grid_td" align="center">0.25</td>
<td class="cms_table_grid_td" align="center">69</td>
</tr>
<tr class="cms_table_grid_tr" valign="top"><td class="cms_table_grid_td"><a href="http://www.futanaripalace.com/showthread.php?46961-New-slave-Lightning" target="_blank"><b>Lightning</b></a></td>
<td class="cms_table_grid_td">Final Fantasy XII</td>
<td class="cms_table_grid_td">striker2521</td>
<td class="cms_table_grid_td" align="center">0.1</td>
<td class="cms_table_grid_td" align="center">70</td>
</tr>
<tr class="cms_table_grid_tr" valign="top"><td class="cms_table_grid_td">Nami</td>
<td class="cms_table_grid_td">One Piece</td>
<td class="cms_table_grid_td">Carpy</td>
<td class="cms_table_grid_td" align="center">1.0</td>
<td class="cms_table_grid_td" align="center">71</td>
</tr>
</tbody></table>
